#!/bin/sh

set -xe

DOCKER_FILE='{{base}}.dockerfile'

IMAGE_NAME='{{repository}}:{{base}}-{{tag_name}}'

docker build \
  --file "${DOCKER_FILE}" \
  --tag "${IMAGE_NAME}" \
  --build-arg cica_ver='{{cica_ver}}' \
  --build-arg go_ver='{{go_ver}}' \
  --cpu-period='{{cpu_period}}' \
  --cpu-quota='{{cpu_quota}}' \
  .
